@mixin flex ($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin titulos ($size, $color, $align) {
    font-size: $size ;
    color: $color;
    text-align: $align;
}
@mixin parrafos ($size, $color, $align) {
    font-size: $size ;
    color: $color;
    text-align: $align;
}
@mixin contacto ($size, $width, $margin) {
    font-size: $size;
    width: $width;
    margin: $margin;
}


$responsivos: (
    sm : 360px,
    md : 768px,
    lg : 1024px
);

@mixin media-up ($responsivo) {
    @media screen and (min-width: map-get($responsivos, $responsivo)) {
        @content;
        
    }
}


 


