/*variables de toda la web*/
@import url("https://fonts.googleapis.com/css2?family=Aleo&display=swap");

$color-melon:#F8BF85;
$color-cele:#186365;
$color-blanco:#F9F9F9;
$color-tur:#0E5053;
$color-gris:#363032;
$letra-general:'Aleo', serif;


